/*font impact*/

#Splash {
	background-image: url("./shared/img/reel.jpg");
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-size: cover;
	height: 120vh;
}

@media only screen and (min-width: 479px) {
	#home {
		background-image: url("shared/img/homebg.png");
		background-attachment: scroll;
		background-repeat: repeat;
	}
}

#reel-time {
	padding-right: 10vw;
	padding-left: 10vw;
	margin-top: 10vh;
}

.margin {
	margin-top: 18vh;
}

#justin {
	margin-left: 10vw;

}
/*#logo {*/
/*	margin-left: auto;*/
/*	margin-right: auto;*/
/*	display: block;*/
/*}*/

#Splash h1 {
	font-size: 6vw;
	margin-top: 12vh;
	}

/*#topRow {*/
/*	height: 15vh;*/
/*}*/

#SignIn {
	margin: auto;
}

#line {
	width: 1px;
	padding: 3px;
	background-color: white;
	height: 100%;
	float: outside;
}

#cards {
	padding: 12vw;
}
