/*font impact*/

#Splash {
	background-image: url("./shared/img/reel.jpg");
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

#home {
	background-image: url("shared/img/homebg.png");
	background-attachment: scroll;
	background-repeat: repeat;

}

#reel-time {
	padding-right: 12vw;
	padding-left: 12vw;
	margin: 0;
}

.margin {
	margin-top: 18vh;
}

#justin {
	margin-left: 10vw;
}

#film-reel {
	z-index: 999;
	width: 200px;
	height: 200px;
	margin-right: 40px;
}

#Splash h1 {
	font-size: 6vw;
	margin-top: 12vh;
	}

/*#topRow {*/
/*	height: 15vh;*/
/*}*/

#SignIn {
	margin: auto;
}

#line {
	width: 1px;
	padding: 3px;
	background-color: white;
	height: 100%;
	float: outside;
}

#cards {
	padding: 12vw;
}
